# Python
__pycache__/
*.py[cod]
*.sqlite3

# Flask/Env
.env
*.env
instance/
*.db

# Virtual environment
.venv/
venv/
ENV/
env/

# VS Code / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
